# Deploy DocC documentation to GitHub Pages
name: Deploy Documentation

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
    paths:
      - 'Sources/**'
      - 'Package.swift'
      - '.github/workflows/static.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '26.0'
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - name: Build DocC
        run: |
          xcodebuild docbuild -scheme Showcase \
            -derivedDataPath /tmp/docbuild \
            -destination 'platform=macOS,name=Any Mac' \
            -skipPackagePluginValidation \
            -skipMacroValidation;
          $(xcrun --find docc) process-archive \
            transform-for-static-hosting /tmp/docbuild/Build/Products/Debug/Showcase.doccarchive \
            --hosting-base-path swiftui-showcase \
            --output-path docs;
          echo "<script>window.location.href += \"/documentation/showcase\"</script>" > docs/index.html;
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
